@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap");

@import "reset.scss";

/*
"Spartan"
'STIX Two Text'
'Noto Sans KR'
*/

#header{
	width: 100%;
	height: 200px;
	border-bottom: 2px solid #000;
	text-align: center;
	.title{
		display: inline-block;
		font: bold 45px/1.5 "Spartan";
		margin-top: 70px;
		letter-spacing: 1.2px;
	}
}
main {
	width: 100%;
	padding: 3vw 10vw 10vw;

	section {
		width: 100%;

		&::after {
			content: "";
			display: block;
			clear: both;
		}
		.item-sizer {
			width: 33.333%;
			height: 0px;
			opacity: 0;
		}
		.box {
			width: 33.3333%;
			height: 40vh;
			padding: 5px;
			float: left;
			transition: 0.5s;
			&:hover{
			
				
				
			}

			&:nth-last-of-type(1) {
				.inner {
					background: url(../img/main10.jpg) no-repeat center/cover;
				}
			}
			&:nth-last-of-type(2) {
				.inner {
					background: url(../img/main09.jpg) no-repeat center/cover;
				}
			}
			&:nth-last-of-type(3) {
				position: relative;
				.inner {
					&::before {
						content: "terracotta";
						text-align: center;
						font: 25px/1.3 "Spartan";
						display: block;
						color: #111;
						position: absolute;
						top: -20px;
						left: 32%;
						transform: rotate(-90deg);
						letter-spacing: 1.3px;
					}
					&::after {
						content: "decoating with \A cotton branches";
						white-space: pre;
						text-align: center;
						font: 25px/1.3 "Spartan";
						display: block;
						color: #111;
						position: absolute;
						bottom: 50px;
						right: -70px;
						letter-spacing: 1.3px;
					
					}
				}
			}
			&:nth-last-of-type(4) {
				position: relative;
				.inner {
					&::before {
						content: "art on shelves";
						text-align: center;
						font: 25px/1.3 "Spartan";
						display: block;
						color: #111;
						position: absolute;
						top: 60px;
						left: -65px;
						letter-spacing: 1.3px;
						
					}
					&::after {
						content: "the parentesi Lamp \A in the bedroom";
						white-space: pre;
						text-align: center;
						font: 25px/1.3 "Spartan";
						display: block;
						color: #111;
						position: absolute;
						top: 40px;
						right: -80px;
						transform: rotate(90deg);
						letter-spacing: 1.3px;
					}
				}
			}
			&:nth-last-of-type(5) {
				.inner {
					background: url(../img/main08.jpg) no-repeat center/cover;
				}
			}
			&:nth-last-of-type(6) {
				.inner {
					background: url(../img/main07.jpg) no-repeat center/cover;
				}
			}
			&:nth-last-of-type(7) {
				.inner {
					background: url(../img/main06.jpg) no-repeat center/cover;
				}
			}
			&:nth-last-of-type(8) {
				width: 66.666%;
				position: relative;
				.inner {
                    h2 {
                        font: bold 30px/1 "Spartan";
                        text-align: center;
						padding-top: 150px;
						letter-spacing: 1.3px;
                    }
					&::before {
						content: "FAVORITE DECOR MOMENTS";
						white-space: pre;
						text-align: center;
						font: 35px/1.3 "Spartan";
						display: block;
						color: #111;
						position: absolute;
						letter-spacing: 1.5px;
						top: 240px;
						left: 50%;
						transform: translateX(-50%);
					}
                    &::after {
						content: "www.dodajeong.com";
						white-space: pre;
						text-align: center;
						font: 25px/1.3 "Spartan";
						display: block;
						color: #666;
						position: absolute;
						bottom: 90px;
						left: 50%;
						transform: translateX(-50%);
						letter-spacing: 1.3px;
						
					}
				}
			}
			&:nth-last-of-type(9) {
				.inner {
					background: url(../img/main01.jpg) no-repeat center/cover;
				}
			}
			&:nth-last-of-type(10) {
				.inner {
					background: url(../img/main05.jpg) no-repeat center/cover;
				}
			}
			&:nth-last-of-type(11) {
				position: relative;
				.inner {
					&::before {
						content: "two-arm wall lamp \A in the bedroom";
						white-space: pre;
						text-align: center;
						font: 25px/1.3 "Spartan";
						display: block;
						color: #111;
						position: absolute;
						top: 50px;
						left: 50%;
						transform: translateX(-50%);
						letter-spacing: 1.3px;
					}
					&::after {
						content: "terrazzo";
						white-space: pre;
						text-align: center;
						font: 25px/1.3 "Spartan";
						display: block;
						color: #111;
						position: absolute;
						bottom: 80px;
						right: -20px;
						transform: rotate(-90deg);
						letter-spacing: 1.3px;
					}
				}
			}
			&:nth-last-of-type(12) {
				position: relative;
				.inner {
					&::before {
						content: "badrooms with \A black art";
						white-space: pre;
						text-align: center;
						font: 25px/1.3 "Spartan";
						display: block;
						color: #111;
						position: absolute;
						top: 50px;
						left: -100px;
						letter-spacing: 1.3px;
					}
					&::after {
						content: "sculpture on \A pedestals";
						white-space: pre;
						text-align: center;
						font: 25px/1.3 "Spartan";
						display: block;
						color: #111;
						position: absolute;
						bottom: -15px;
						right: 5px;
						transform: rotate(90deg);
						letter-spacing: 1.3px;
					}
				}
			}
			&:nth-last-of-type(13) {
				.inner {
					background: url(../img/main03.jpg) no-repeat center/cover;
				}
			}
			&:nth-last-of-type(14) {
				.inner {
					background: url(../img/main04.jpg) no-repeat center/cover;
				}
			}
			.inner {
				width: 100%;
				height: 100%;
				// background: #fff;
				// box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
			}
		}
	}
}
